<div id="<%= dom_id item_category %>">
  <p>
    <u>Item Category:</u>
  </p>

  <p>
    <strong>Item ID:</strong>
    <%= item_category.menuitem_id %>
  </p>

  <p>
    <strong>Item name:</strong>
    <%= item_category.menuitem.name %>
  </p>

  <p>
    <strong>Category ID:</strong>
    <%= item_category.category_id %>
  </p>

  <p>
    <strong>Category name:</strong>
    <%= item_category.category.name %>
  </p>

</div>
