<p style="color: green"><%= notice %></p>

<%= render @item_category %>

<div>
  <%= link_to "Edit this item category", edit_item_category_path(@item_category) %> |
  <%= link_to "Back to item categories", item_categories_path %>

  <%= button_to "Destroy this item category", @item_category, method: :delete %>
</div>
