<div id="<%= dom_id orderdetail %>">
  <p>
    <u>Order Detail:</u>
  </p>

  <p>
    <strong>Order:</strong>
    <%= orderdetail.order_id %>
  </p>

  <p>
    <strong>Order by customer:</strong>
    <%= orderdetail.order.customer.name %>
  </p>

  <p>
    <strong>Menuitem:</strong>
    <%= orderdetail.menuitem_id %>
  </p>

  <p>
    <strong>Menu item name:</strong>
    <%= orderdetail.menuitem.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= orderdetail.quantity %>
  </p>

  <p>
    <strong>Item price:</strong>
    <%= orderdetail.price %>
  </p>

  <p>
    <strong>Item total price:</strong>
    <%= orderdetail.total %>
  </p>

</div>
