<div id="<%= dom_id orderdetail %>">
  <p>
    <u>Order Detail:</u>
  </p>

  <p>
    <strong>Order ID:</strong>
    <%= orderdetail.order_id %>
    <%= link_to "(Show this order)", orderdetail.order %>
  </p>

  <p>
    <strong>Order by customer:</strong>
    <%= orderdetail.order.customer.name %>
    <%= link_to "(Show this customer)", orderdetail.order.customer %>
  </p>

  <p>
    <strong>Menuitem ID:</strong>
    <%= orderdetail.menuitem_id %>
  </p>

  <p>
    <strong>Menu item name:</strong>
    <%= orderdetail.menuitem.name %>
    <%= link_to "(Show this menu item)", orderdetail.menuitem %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= orderdetail.quantity %>
  </p>

  <p>
    <strong>Item price:</strong>
    <%= orderdetail.price %>
  </p>

  <p>
    <strong>Item total price:</strong>
    <%= orderdetail.total %>
  </p>

</div>
