<div id="<%= dom_id orderdetail %>">
  <p>
    <strong>Order:</strong>
    <%= orderdetail.order_id %>
  </p>

  <p>
    <strong>Menuitem:</strong>
    <%= orderdetail.menuitem_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= orderdetail.quantity %>
  </p>

  <p>
    <strong>Item price:</strong>
    <%= orderdetail.item_price %>
  </p>

</div>
