<p style="color: green"><%= notice %></p>

<%= render @orderdetail %>

<div>
  <%= link_to "Edit this orderdetail", edit_orderdetail_path(@orderdetail) %> |
  <%= link_to "Back to orderdetails", orderdetails_path %>

  <%= button_to "Destroy this orderdetail", @orderdetail, method: :delete %>
</div>
