<div id="<%= dom_id menuitem %>">
  <p>
    <u>Menu Item <%= menuitem.id %>:</u>
  </p>

  <p>
    <strong>Name:</strong>
    <%= menuitem.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= menuitem.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= menuitem.price %>
  </p>

  <p>
    <strong>Categories:</strong>
    <% @item_categories.each do |item_category| %>
      <%= item_category.category.name %>,
    <% end %>
  </p>

</div>
