<h3>Edit <%= @menuitem.name %></h3>
<%= form_with model: @menuitem do |form| %>
    <%= form.text_field :name, placeholder: "name" %>
    <%= form.text_field :description, placeholder: "description" %>
    <%= form.number_field :price, placeholder: "price" %>
    <%= form.submit %>
<% end %>