<p style="color: green"><%= notice %></p>

<%= render @order %>

<div id="customers">
    <%= render @customer %>
</div>

<div id="orderdetails">
  <% @orderdetails.each do |orderdetail| %>
    <%= render orderdetail %>
    <p>
      <%= link_to "Show this order detail", orderdetail %>
    </p>
  <% end %>
</div>

<div>
  <%= link_to "Edit this order", edit_order_path(@order) %> |
  <%= link_to "Back to orders", orders_path %>

  <%= button_to "Destroy this order", @order, method: :delete %>
</div>
