<h1>Foods#index</h1>
<p>Find me in app/views/foods/index.html.erb</p>
<table>
  <thead>
    <tr>
        <td><b>Name</b></td>
        <td><b>Description</b></td>
        <td><b>Price</b></td>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.description %></td>
        <td><%= food.price %></td>
        <td><a href="/foods/<%= food.id %>">Show</a></td>
        <td><a href="/foods/<%= food.id %>/edit">Edit</a></td>
        <td>
          <form action="/foods/<%= food.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" />
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href="/foods/new">New Food</a>